body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/windows95.png");
  background-size: cover;
}

#canvas {
  width: 650px;
  height: 325px;
  background-color: black;
}

header {
  background-color: rgb(2, 12, 126);
  width: 100%;
  min-height: 15px;
  max-height: 15px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px
  /*border-radius: 5px;*/
  /*2, 12, 126*/
}

#game-container {
  background-color: grey;
  padding: 5px 4px 4px 4px;
}

#buttons {
  display: flex;
  align-items: center;

}

p {
  margin: 0;
  margin-right: 2px;
  background-color: rgb(192, 192, 192);
  font-size: 14px;
  line-height: 10px;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  /*max-height: 10px;*/
  min-height: 10px;
  min-width: 10px;
  max-width: 10px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px #888888;
}


#box {

  padding-top: 1px;
  padding-bottom: 0px;
}

#underscore {
  font-weight: bolder;
  font-size: 10px;
}

#title {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

h6 {
  font-weight: normal
}

#game-info {
  background-color: #cecece;
  min-width: 650px;
  max-width: 650px;
  display: flex;
  max-height: 20px;
}

#win-conditions {
  display: flex;
  justify-content: center;
  width: 200%;
  /*padding: 0;*/
}


.info-bar {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 2px 1px 0px 1px;
  /*padding-left: 25px;*/
  /*padding-right: 25px;*/
  border-width: 1px;
  border-style: solid;
  border-left-color: #848484;
  border-top-color: #848484;
  border-right-color: #ffffff;
  border-bottom-color: #ffffff;
  color: #000000;
  font-size: 15px;
}
#bsod {
  position: absolute;
  height: 100%;
  width: 100%;
}
.hidden {
  display: none;
}


#goal {
  width: 110%;
}
